# Dependencies
/node_modules

# Build output
# If you have a build step, it's good to ignore the output directory
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Generated Reports
# This will ignore all Excel files in the project.
*.xlsx